{% extends "petition/user_base.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
    <div class="col text-center">
    <h2>{% trans "Account settings" %}</h2>
    </div>
    </div>

    <div class="row">
    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            <a href="#update_info_form" class="list-group-item list-group-item-info list-group-item-action"
            data-toggle="list" aria-controls="update_info_form" role="tab"><span class="oi oi-person"></span>
                {% trans "Update personal information" %}</a>
            <a href="#password_change_form" class="list-group-item list-group-item-info list-group-item-action"
            data-toggle="list" aria-controls="password_change_form" role="tab"><span class="oi oi-key"></span>
                {% trans "Change password" %}</a>
            <a href="#delete_account_form" class="list-group-item list-group-item-info list-group-item-action
            list-group-item-danger"
            data-toggle="list" aria-controls="delete_account_form" role="tab"><span class="oi oi-trash"></span>
                {% trans "Delete your account" %}</a>
        </div>
    </div>
    <div class="col">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="update_info_form" role="tabpanel"
                 aria-labelledby="update-info-form-list">
                <form method="POST">{% csrf_token %}
                    {% include "petition/bs4_form.html" with form=update_info_form %}
                    <button name="update_info_form_submitted" class="btn btn-primary" value="yes" type="submit">
                        {% trans "Update" %}</button>
                </form>
            </div>
            <div class="tab-pane fade" id="password_change_form" role="tabpanel"
                 aria-labelledby="password-change-form-list">
                <form method="POST">{% csrf_token %}
                    {% include "petition/bs4_form.html" with form=password_change_form %}
                    <button name="password_change_form_submitted" class="btn btn-primary" value="yes" type="submit">
                        {% trans "Change password" %}</button>
                </form>
            </div>
            <div class="tab-pane fade" id="delete_account_form" role="tabpanel"
                 aria-labelledby="delete-account-form-list">

                            <div class="alert alert-warning alert-dismissible show fade">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <div class="row">
                                    <div class="col-1 alert-icon-col">
                                        <span class="oi oi-warning"></span>
                                    </div>
                                    <div class="col">
                                        {% blocktrans %}
                                            WARNING: If you do this, your data will be permanently deleted.<br />
                                            Please, confirm you understand the risks by entering the following sentence
                                            in the validation field:
                                        {% endblocktrans %}
                                        <br />
                                        {% trans "DROP MY ACCOUNT" %}
                                    </div>
                                </div>
                            </div>
                <form method="POST">{% csrf_token %}
                    {% include "petition/bs4_form.html" with form=delete_account_form %}
                    <button name="delete_account_form_submitted" class="btn btn-danger" value="yes" type="submit">
                        {% trans "Delete" %}</button>
                </form>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}

{% block extrajs %}
{{ block.super }}
<script>
$(function() {
    {% if not password_change_form_submitted %}
   $('#password_change_form').find('form input').removeClass('is-valid').removeClass('is-invalid');
    {% endif %}
    {% if not update_info_form_submitted %}
   $('#update_info_form').find('form input').removeClass('is-valid').removeClass('is-invalid');
    {% endif %}
    {% if not delete_account_form_submitted %}
   $('#delete_account_form_submitted').find('form input').removeClass('is-valid').removeClass('is-invalid');
    {% endif %}

    //show first tab pane where there is an :invalid field
    var pane_id = $('input.is-invalid').closest('.tab-pane').attr('id');
    $('.list-group a[href="#' + pane_id + '"]').tab('show');
})

</script>
{% endblock extrajs %}