{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}{% trans "Homepage" %}{% endblock title %} – {{ settings.SITE_NAME }}</title>

    <!-- Bootstrap -->
    <link href="{% static "bootstrap-4.2.1/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "open-iconic-1.1.1/font/css/open-iconic-bootstrap.min.css" %}" rel="stylesheet">

    <!-- Extra media -->
    {% block media %}
    {% endblock %}

    <!-- Extra meta -->
    {% block extrameta %}
    {% endblock %}

    <!-- Extra styles -->
    {% block extracss %}
    {% endblock %}
    <style>
  .card-img-top{
   width: 100%!important;
   height: 200px!important;
   object-fit: cover;
    }

    .alert .alert-icon-col {
        min-width: 35px;
        max-width: 35px;
    }
    </style>

    <!-- Extra js in head -->
    {% block extrajshead %}
    {% endblock %}
</head>
<body>
<div id="modalContainer">

</div>
<div class="{% block container_type %}container-fluid{% endblock container_type %}">

    {% block navbar %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        {% block brand %}
        <a class="navbar-brand" href="#">{{ settings.SITE_NAME }}</a>
        {% endblock brand %}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                        {% block navdropdown %}
                        <a class="nav-link dropdown-toggle btn btn-outline-secondary" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="oi oi-person"></span> {{ user.get_full_name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url "user_dashboard" %}"><span class="oi oi-person"></span>
                              {% trans "Your dashboard" %}</a>
                          <div class="dropdown-divider"></div>
                          {% for org in user.organizations.all %}
                              <a class="dropdown-item" href="{% url "org_dashboard" org.name %}">
                                <span class="oi oi-people"></span> {{ org.name }}
                              </a>
                          {% endfor %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url "logout" %}?next=/"><span class="oi oi-account-logout"></span>
                                {% trans "Logout" %}</a>
                            <a class="dropdown-item" href="{% url "account_settings" %}"><span class="oi oi-cog"></span>
                                {% trans "Account settings" %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><span class="oi oi-plus"></span>
                                {% trans "Create an organization" %}</a>
                        </div>
                        {% endblock navdropdown %}
                    {% else %}
                <li class="nav-item">
                        <a href="{% url "login" %}?next={% block login_next %}{{ request.path }}{% endblock login_next %}" class="nav-link">{% trans "Login" %}</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0" action="{{ request.path }}" method="GET">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">?</span>
              </div>
              <input type="text" class="form-control mr-sm-2" placeholder="..." name="q" value="{{ q }}">
              <button type="submit" class="btn btn-sm btn-outline-success my-2 my-sm-0">{% trans "Search" %}</button>
            </div>
        </form>
    </nav>
    {% endblock %}

    {% block main_content %}
    {% endblock %}

    {% block main_grid %}
    {% endblock %}
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "jquery-3.3.1/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "popper-1.14.6/popper.min.js" %}"></script>
    <script src="{% static "bootstrap-4.2.1/js/bootstrap.min.js" %}"></script>
    {% block extrajs %}
    {% endblock %}
</body>
</html>
