{% load widget_tweaks %}
{% load petition_extras %}

{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  <div class="form-group row">
    <label for="{{ field.auto_id }}" class="col-sm-12 col-md-3 col-lg-2 col-form-label">{{ field.label }}</label>

    {% if form.is_bound %}
      {% if field.errors %}
        <div class="col-sm-12 col-md-9 col-lg-10">
          {% render_field field|bootstrap class="is-invalid" %}
        </div>
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
        <div class="col-sm-12 col-md-9 col-lg-10">
            {% render_field field|bootstrap class="is-valid" %}
        </div>
      {% endif %}
    {% else %}
        <div class="col-sm-12 col-md-9 col-lg-10">
            {% render_field field|bootstrap %}
        </div>
    {% endif %}

    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text|safe }}</small>
    {% endif %}
  </div>
{% endfor %}
