{% extends "layouts/email.base.html" %}
{% load i18n %}
{% block content %}

<p>{% blocktrans with petition_title=petition.title %}Thank you for signing the petition “<a href="{{ petition_url }}"><b>{{ petition_title }}</b></a>”, {{ firstname }}.{% endblocktrans %}</p>

<p>{% blocktrans %}Now, in order to <b>confirm your signature</b>, you only need to click here: <a href="{{ confirmation_url }}">{{ confirmation_url }}</a>{% endblocktrans %}</p>

<p>{% blocktrans %}If this message is unsolicited, you can simply ignore it.{% endblocktrans %}</p>

<p>{% trans "See you soon!" %}</p>
{% endblock %}