{% extends 'petition/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}


{% block title %}{% autoescape off %}{{ petition.raw_title }}{% endautoescape %}{% endblock title %}


<!-- Extra meta -->
{% block extrameta %}
    <meta name="description" content="{% autoescape off %}{{ petition.raw_title }}{% endautoescape %}"/>

    <meta property="og:title" content="{% autoescape off %}{{ petition.raw_title }}{% endautoescape %}"/>
    {% if petition.twitter_description %}
        <meta property="og:description"
              content="{% autoescape off%}{{ petition.raw_twitter_description }}{% endautoescape %}"/>
    {% else %}
        <meta property="og:description" content="{% autoescape off %}{{ petition.raw_text }}{% endautoescape %}"/>
    {% endif %}
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://petition.antipub.org/petition/{{ petition.id }}/"/>
    <meta property="og:site_name" content="petition.antipub.org"/>
    {% if petition.twitter_image %}
        <meta property="og:image" content="{{ petition.twitter_image }}"/>
    {% endif %}

    <meta itemprop="name" content="{% autoescape off %}{{ petition.raw_title }}{% endautoescape %}"/>
    {% if petition.twitter_description %}
        <meta itemprop="description"
              content="{% autoescape off %}{{ petition.raw_twitter_description }}{% endautoescape %}"/>
    {% else %}
        <meta itemprop="description" content="{% autoescape off %}{{ petition.raw_text }}{% endautoescape %}"/>
    {% endif %}
    <!-- FIXME: <meta itemprop="url" content=""/> //-->

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="@yannsionneau"/>
    <meta name="twitter:site" content="{% autoescape off %}{{ petition.org_twitter_handle }}{% endautoescape %}"/>
    <meta name="twitter:title" content="{% autoescape off %}{{ petition.raw_title }}{% endautoescape %}"/>
    {% if petition.twitter_description %}
        <meta name="twitter:description"
              content="{% autoescape off %}{{ petition.raw_twitter_description }}{% endautoescape %}"/>
    {% else %}
        <meta name="twitter:description" content="{% autoescape off %}{{ petition.raw_text }}{% endautoescape %}"/>
    {% endif %}
    {% if petition.twitter_image %}
        <meta name="twitter:image" content="{{ petition.twitter_image }}"/>
    {% endif %}

{% endblock %}

{% block extracss %}
    <link href="{% static "typeahead.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "petition.css" %}" rel="stylesheet" type="text/css">
    <style type="text/css">
    {% if petition.linear_gradient_direction != petition.NO %}
    body {
        background: linear-gradient({{ petition.linear_gradient_direction}}, {{ petition.gradient_from }}, {{ petition.gradient_to }});
    }
    {% endif %}
    </style>
{% endblock %}

{% block extrajshead %}
    <script>
      dataLayer = [];
    </script>
{% endblock %}

{% block container_type %}container petition{% endblock container_type %}

{% block login_next %}{% url "user_dashboard" %}{% endblock login_next %}

{% block navbar %}
{% endblock navbar %}

{% block main_content %}
<div class="show-form" id="show-form">
    <div class="wrapper">
        <button type="button" class="btn btn-primary btn-block">SIGNER</button>
    </div>
</div>


<div class="petition-wrapper d-sm-flex align-items-stretch">
    <div class="content col-sm-6 col-md-8">
        <h1>{% autoescape off%}{{ petition.title|striptags }}{% endautoescape %}</h1>
        <div class="presentation">
                    {% autoescape off%}{{ petition.text }}{% endautoescape %}
        </div>
    </div>
    <div class="formular col-sm-6 col-md-4" id="petition">
        <div class="form-wrapper">
            <p class="intro" id="intro">
                {% autoescape off%}{{ petition.side_text }}{% endautoescape %}
                <br/>
                <span class="sign">Signez la pétition&nbsp;!</span>
            </p>
            <div class="counter" id="counter">
                <p>
                    Déjà <span id="nb-signatures">{{ petition.signature_number }}</span> signatures.
                    Objectif : <span class="format-number">{{ petition.target }}</span>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" id="progress-bar"
                         data-target="{{ petition.target }}">
                    </div>
                </div>
            </div>
            <div id="form-sticky" class="form-sticky">
                {% for message in messages %}
                    <div
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        class="alert alert-danger" role="alert">
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        class="alert alert-success" role="alert">
                    {% else %}
                        class="alert {{ message.tags }}" role="alert">
                    {% endif %}
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="fields">
                    <script type='text/javascript' src='{% static "typeahead.js" %}'></script>
                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
                    <style>
                        .fa-check-circle {
                          width: 15px;
                          margin: -25px 10px;
                          float: right;
                        }
                        .fa-ban {
                          width: 15px;
                          margin: -25px 10px;
                          float: right;
                        }
                        .fa-question-circle {
                          width: 15px;
                          margin: -25px 10px;
                          float: right;
                        }
                        .invalid-feedback {
                          display: none;
                          width: 100%;
                          margin-top: 0.25rem;
                          font-size: 80%;
                          color: #df382c;
                        }
                        .valid-feedback {
                          display: none;
                          width: 100%;
                          margin-top: 0.25rem;
                          font-size: 80%;
                          color: #00ff00;
                        }
                    </style>
                    <form method='POST' name='petition' class='form-group'
                          action='/petition/{{ petition.id }}/sign'>
                        {% csrf_token %}
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% for field in form.visible_fields %}
                            <div class="form-group has-feedback">
                                {{ field.label_tag }}

                                {% if form.is_bound %}
                                    {% if field.errors %}
                                        {{ field|add_class:"is-invalid" }}
                                <span class="fas fa-question-circle form-control-feedback invalid-feedback"></span>
                                        {% for error in field.errors %}
                                            <span class="invalid-feedback">
                                                {{ error }}
                                            </span>
                                        {% endfor %}
                                    {% else %}
                                        {{ field|add_class:"is-valid" }}
                                <span class="far fa-check-circle form-control-feedback valid-feedback"></span>
                                    {% endif %}
                                {% else %}
                                    {{ field }}
                                {% endif %}

                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}


                        <span class="eaSubmitResetButtonGroup" id="eaFormButtonGroup_1"><input
                                type="submit" class="eaSubmitButton" value="SIGNER"></span>
                    </form>
                </div>
                <div class="reassurance" id="reassurance">
                    <p style="text-align:justify">
                        {{ petition.sign_form_footer }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}

{% block footer %}
<div class="footer-wrapper">
    <footer role="contentinfo" class="footer d-sm-flex">
        <div class="footer-links flex-grow-1">
            {% autoescape off %}{{ petition.footer_links }}{% endautoescape %}
        </div>
        <p class="footer-text flex-grow-1">
            {% autoescape off %}{{ petition.footer_text }}{% endautoescape %}
        </p>
        <div class=""><a href="https://github.com/pytition/Pytition/"><img src="{% static "GitHub_Logo_White.png" %}" width="100" height="41" /></a></div>
    </footer>
</div>
{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{% static "petition.js" %}"></script>
{% endblock %}