{% load static %}
{% load i18n %}
<div class="row petition-list-row">
  {% for petition in petitions %}
    <div class="col-md-4 col-xs-6 text-center sb-preview">
      <div class="card h-100 text-center">
        <a href="{{ petition.url }}" class="sb-preview-img">
          {% if not petition.twitter_image%}
            <img class="card-img-top img-fluid img-thumbnail" src="{% static settings.DEFAULT_INDEX_THUMBNAIL %}">
          {% else %}
            <img class="card-img-top img-fluid img-thumbnail" src="{{ petition.twitter_image }}">
          {% endif %}
        </a>
        <div class="card-body">
          {% with owner=petition.owner %}
            {% if owner.kind == 'org' %}
              <a href="{% url 'org_profile' orgslugname=owner.slugname %}" class="text-muted">
                {{ owner }}
              </a>
            {% elif owner.kind == 'user' %}{# It could be of another kind in the future. #}
              <a href="{% url 'user_profile' user_name=owner.username %}" class="text-muted">
                {{ owner }}
              </a>
            {% endif %}
          {% endwith %}
          <h4 class="card-title">
            <a href="{{ petition.url }}">
              {{ petition.title|striptags }}
            </a>
          </h4>
          {% if petition.twitter_description %}
            <p class="card-text">
              {{ petition.twitter_description|safe }}
            </p>
          {% endif %}
          <a href="{{ petition.url }}" class="btn btn-secondary btn-sm">
            {% trans "Sign!" %}
          </a>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            {% blocktrans count signature_number=petition.signature_number %}
              {{ signature_number }} signature
            {% plural %}
              {{ signature_number }} signatures
            {% endblocktrans %}
          </small>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 or forloop.last %}
      </div>
      <div class="row petition-list-row">
    {% endif %}
  {% empty %}
    <i>
      {{ no_petitions_text|safe }}
    </i>
  {% endfor %}
</div>
