{% load petition_extras %}
<button type="button" class="btn btn-outline-secondary
{% if orgs %} dropdown-toggle
{% elif owner.kind == "org" %} dropdown-toggle {% endif %}
" data-toggle="dropdown">
{% if owner.kind == "user" %}
    <span class="oi oi-person"></span>
{% else %}
    <span class="oi oi-people"></span>
{% endif %}
 {{ owner.fullname }}</button>
<div class="dropdown-menu">
{% if owner.kind == "org" %}
    <a href="{% url "user_dashboard" user.name %}" class="dropdown-item"><span class="oi oi-person"></span> {{ user.fullname }}</a>
{% endif %}
{% for org in orgs %}
    <a href="{% url "org_dashboard" org.name %}" class="dropdown-item"><span class="oi oi-people"></span> {{ org.name }}</a>
{% endfor %}
</div>