{% extends 'petition/base.html' %}
{% load static %}
{% load i18n %}
    {% block title %}
    <title>{{ title }}</title>
    {% endblock title %}

{% block container_type %}
    <div class="container">
{% endblock container_type %}

    {% block main_grid %}
    <div class="row">
        {% for petition in petitions %}
            <div class="col-md-4 col-xs-6 text-center sb-preview">
                <div class="card h-100">
                    <a href="#" class="sb-preview-img">
                        {% if not petition.twitter_image%}
                        <img class="card-img-top img-fluid img-thumbnail" src="{% static settings.DEFAULT_INDEX_THUMBNAIL %}">
                        {% else %}
                        <img class="card-img-top img-fluid img-thumbnail" src="{{ petition.twitter_image }}">
                        {% endif %}
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title">{{ petition.title|striptags }}</h4>
                        <p class="card-text">{{ petition.twitter_description|safe }}</p>
                        <div class="card-footer mt-auto">
                            <a href="{% url "detail" petition.id %}" class="btn btn-success">
                            {% trans "Sign!" %} <span class="badge badge-info">{{ petition.signature_number }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
        </div>
        <p></p>
        <div class="row">
        {% endif %}
    {% endfor %}
    </div>
    {% endblock main_grid %}