{% extends 'layouts/layout.html' %}
{% load static %}
{% load i18n %}

{% block login_next %}{% url "user_dashboard" %}{% endblock login_next %}

{% block extracss %}<link href="{% static "css/home.css" %}" rel="stylesheet">{% endblock extracss %}
{% block main_content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">{% trans "Welcome to Pytition"%}</h1>
    <p class="lead text-muted">{% trans "Make things change!" %}</p>
  {% if settings.SHOW_DEMO_TEXT %}
    {% include 'petition/demo_text.html' %}
  {% endif %}
    <p><a href="{% url 'user_petition_wizard' %}" class="btn btn-primary">{% trans "Create a petition" %}</a></p>
  </div>
</section>
<section class="petition-list bg-light">
  <div class="text-center container">
    <h2>{% trans "View latest petitions" %}</h2>
    {% include 'petition/generic_petition_list.html' with petitions=petitions %}
  </div>
</section>

{% endblock main_content %}
