{% extends base_template %}
{% load i18n %}
{% load widget_tweaks %}
{% load petition_extras %}
{% load static %}
{% block media %}
    {{ form.media }}
{% endblock %}
{% block extracss %}
    <link href="{%  static 'smartwizard/dist/css/smart_wizard_theme_arrows.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            {% include "petition/back_to_dashboard.html" %}
        </div>
        <div class="col-10 text-center">
            <h1>
                {% trans "Create a new petition!" %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
		    <div id="smartwizard">
                <ul>
                    <li><a href="#step-1" id="step1_link">{% trans "Title" %}<br /><small>{%  trans "Donnez un titre à votre pétition" %}</small></a></li>
                    <li><a href="#step-2" id="step2_link">{% trans "Content" %}<br /><small>{% trans "Ecrivez le contenu de votre pétition" %}</small></a></li>
                    <li><a href="#step-3">{% trans "Publish" %}<br /><small>{%  trans "Sauvegardez votre pétition et publiez la si elle est prête" %}</small></a></li>
                </ul>

                <div id="step-3" class="">
                <form method="POST">{% csrf_token %}
                    {{ wizard.management_form }}
                    <p>
                        <div class="col-xl-4 col-lg-6 col-sm-12 col-12 mx-auto text-center sb-preview">
                            <div class="card h-100 align-content-center">
                                <a href="#" class="sb-preview-img">
                                    <img class="card-img-top img-fluid img-thumbnail" src="{% static "petition_icon.svg" %}">
                                </a>
                                <div class="card-body d-flex flex-column">
                                    <h4 class="card-title"> {{ title }}</h4>
                                    <p class="card-text">{{ message|striptags|truncatechars:225 }}</p>
                                    <div class="card-footer mt-auto">
                                        <div class="btn-toolbar">
                                            <div class="btn-group-toggle">
                                                <label class="btn btn-outline-warning"
                                                        title="{% trans "Save & Configure" %}">
                                                    {{ form.configure }} <span class="oi oi-pencil"></span> {{ form.configure.label }}
                                                </label>
                                                <button type="submit" class="btn btn-outline-success"
                                                        title="{% trans "Save" %}"><span class="oi oi-clipboard"></span> {% trans "Save" %}</button>
                                            </div>
                                        </div>
                                        <p>
                                            <div class="form-group">
                                            {% with form.publish as field %}
                                                <div class="custom-control custom-switch">
                                                    {{ field|add_class:"custom-control-input" }}
                                                    <label class="custom-control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                </div>
                                            {% endwith %}
                                            </div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p>
                {% if wizard.steps.prev %}
                    <button name="wizard_goto_step" id="go_first" class="btn btn-primary" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                    <button name="wizard_goto_step" id="go_prev" class="btn btn-primary" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
                {% endif %}
                </form>
            </div>
		</div>
	</div>
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript" src="{%  static 'smartwizard/dist/js/jquery.smartWizard.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $('#smartwizard').smartWizard({
                                    theme: 'arrows',
                                    toolbarSettings: {
                                        showNextButton: false,
                                        showPreviousButton: false,
                                    },
                                    });
    });
    $("#step1_link").on("click", function () {
        $("#go_first").click();
    });
    $("#step2_link").on("click", function () {
        $("#go_prev").click();
    });
    {% if org %}
    document.location = "{% url 'org_petition_wizard' org %}#step-3";
    {% else %}
    document.location = "{% url 'user_petition_wizard' %}#step-3";
    {% endif %}
    </script>
{% endblock %}
