{% extends base_template %}
{% load i18n %}
{% load widget_tweaks %}
{% load petition_extras %}
{% load static %}
{% block media %}
    {{ form.media }}
{% endblock %}
{% block extracss %}
    <link href="{%  static 'vendor/smartwizard/dist/css/smart_wizard_theme_arrows.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            {% include "petition/back_to_dashboard.html" %}
        </div>
        <div class="col-10 text-center">
            <h1>
                {% trans "Create a new petition!" %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="smartwizard">
                <ul>
                    <li><a href="#step-1">{% trans "Title" %}<br />
                        <small>{% trans "Give a title to your petition" %}</small></a></li>
                    <li><a href="#step-2">{% trans "Content" %}<br />
                        <small>{% trans "Write your petition content" %}</small></a></li>
                    <li><a href="#step-3">{% trans "Publish" %}<br />
                        <small>{% trans "Save your petition and publish it if it's ready" %}</small></a></li>
                </ul>

                <div>
                    <div id="step-1" class="">
                        <form method="POST">{% csrf_token %}
                            {{ wizard.management_form }}
                            <div class="form-group">
                            {% with form.title as field %}
                                {{ field.label_tag }}

                                {% if form.is_bound %}
                                  {% if field.errors %}
                                    {% render_field field|bootstrap class="is-invalid" %}
                                    {% for error in field.errors %}
                                      <div class="invalid-feedback">
                                        {{ error }}
                                      </div>
                                    {% endfor %}
                                  {% else %}
                                    {% render_field field|bootstrap class="is-valid" %}
                                  {% endif %}
                                {% else %}
                                  {% render_field field|bootstrap %}
                                {% endif %}

                                {% if field.help_text %}
                                  <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            {% endwith %}
                            </div>
                            <button type="submit" class="btn btn-primary">{% trans "Next" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript" src="{%  static 'vendor/smartwizard/dist/js/jquery.smartWizard.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $('#smartwizard').smartWizard({
                                    theme: 'arrows',
                                    toolbarSettings: {
                                        showNextButton: false,
                                        showPreviousButton: false,
                                    },
                                    });
    });

    document.location.hash = "step-1";
    </script>
{% endblock %}
