{% extends 'layouts/wizard_layout.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load petition_extras %}
{% load static %}
{% block media %}
    {{ form.media }}
{% endblock %}

{% block wizard_content %}
<div id="step-3" class="px-3 pt-3">
  <form method="POST">{% csrf_token %}
  {{ wizard.management_form }}
  <input type="hidden" name="redirect" id="redirectField" value="0">
    <div class="col-xl-4 col-lg-6 col-sm-12 col-12 mx-auto text-center sb-preview">
      <div class="card h-100 align-content-center">
        <a href="#" class="sb-preview-img">
          <img class="card-img-top img-fluid img-thumbnail" src="{% static "img/petition_icon.svg" %}">
        </a>
        <div class="card-body d-flex flex-column">
          <h4 class="card-title"> {{ title }}</h4>
          <p class="card-text">{{ message|striptags|truncatechars:225 }}</p>
        </div>
        <div class="card-footer mt-auto">
          <div class="btn-toolbar">
            <div class="btn-group-toggle">
              <button class="btn btn-secondary"
                      title="{% trans "Save & Configure" %}" id="save_and_edit_btn">
                  {{ form.configure }} <span class="oi oi-pencil"></span> {{ form.configure.label }}
              </button>
              <button type="submit" class="btn btn-secondary"
                      title="{% trans "Save" %}"><span class="oi oi-clipboard"></span> {% trans "Save" %}</button>
            </div>
          </div>
          <div class="form-group mt-3">
            {% with form.publish as field %}
              <div class="custom-control custom-switch">
                  {{ field|add_class:"custom-control-input" }}
                  <label class="custom-control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
              </div>
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-start">
      {% if wizard.steps.prev %}
          <button name="wizard_goto_step" id="go_first" class="btn btn-primary" type="submit" value="{{ wizard.steps.first }}">{% trans "First step" %}</button>
          <button name="wizard_goto_step" id="go_prev" class="btn btn-primary ml-3" type="submit" value="{{ wizard.steps.prev }}">{% trans "Previous step" %}</button>
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript" src="{%  static 'vendor/smartwizard/dist/js/jquery.smartWizard.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $('#smartwizard').smartWizard({
                                    theme: 'arrows',
                                    toolbarSettings: {
                                        showNextButton: false,
                                        showPreviousButton: false,
                                    },
                                    });
    });
    $("#step1_link").on("click", function () {
        $("#go_first").click();
    });
    $("#step2_link").on("click", function () {
        $("#go_prev").click();
    });

    $(function() {
       $("#save_and_edit_btn").on("click", function(){
           var redirect = $("#redirectField");
           redirect.prop("value", "1");
           redirect.closest("form").submit();
       });
    });

    document.location.hash = "step-3";
    $('html, body').scrollTop('0px');

    $(function() {
        $("form").on("submit", function(){
           document.location.hash = "";
        });
    });
    </script>
{% endblock %}
