{% extends 'petition/org_base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load petition_extras %}
{% block content %}
    <form action="{% url "org_create_petition" org.name %}" class="form-group" method="POST">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}

        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            {{ wizard.form }}
        {% endif %}


        <button type="submit" class="btn btn-primary">{% trans "Next" %}</button>
    </form>
{% endblock %}