{% extends 'layouts/layout.html' %}
{% load static %}
{% load i18n %}
    {% block title %}
    {% blocktrans with name=org.name %}
        {{ name }}'s profile
    {% endblocktrans %}
    {% endblock title %}

{% block container_type %}
    container
{% endblock container_type %}

{% block login_next %}{% url "user_dashboard" %}{% endblock login_next %}

{% block main_content %}
<div class="container">
    <div class="row">
        <h2>{{ org.name }} </h2>
    </div>
    {% include 'petition/generic_petition_list.html' with petitions=petitions %}
</div>
{% endblock main_content %}
