{% extends 'layouts/layout.html' %}
{% load static %}
{% load i18n %}
    {% block title %}
    {% blocktrans with name=org.name %}
        {{ name }}'s profile
    {% endblocktrans %}
    {% endblock title %}

{% block container_type %}
    container
{% endblock container_type %}

{% block login_next %}{% url "user_dashboard" %}{% endblock login_next %}

{% block main_content %}
<div class="container">
    <div class="row">
        <h2>{{ org.name }} </h2>
    </div>
    <div class="row mt-3">
              {% for petition in petitions %}
        <div class="col-md-4 col-xs-6 text-center sb-preview">
          <div class="card h-100 text-center">
            <a href="{{ petition.url }}" class="sb-preview-img">
              {% if not petition.twitter_image%}
                <img class="card-img-top img-fluid img-thumbnail" src="{% static settings.DEFAULT_INDEX_THUMBNAIL %}">
              {% else %}
                <img class="card-img-top img-fluid img-thumbnail" src="{{ petition.twitter_image }}">
              {% endif %}
            </a>
            <div class="card-body">
              <div href="" class="text-muted">{{ petition.owner }}</div>
                <h4 class="card-title"><a href="{{ petition.url }}">{{ petition.title|striptags }}</a></h4>
                {% if petition.twitter_description %}
                  <p class="card-text">{{ petition.twitter_description|safe }}</p>
                {% endif %}
                <a href="{{ petition.url }}" class="btn btn-secondary btn-sm">{% trans "Sign!" %}</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ petition.signature_number }} signatures</small>
            </div>
          </div>
        </div>
      {% if forloop.counter|divisibleby:3 or forloop.last %}
        </div>
        <div class="row">
      {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock main_content %}
