{% extends 'petition/base.html' %}
{% load i18n %}

{% block brand %}
<a class="navbar-brand" href="#">{{ org.name }}</a>
{% endblock brand %}


    {% block main_grid %}
    <div class="row">
        <div class="col-xl-3 col-lg-5 col-md-5 col-sm-6 col-12 tool-bar">
            <a class="btn btn-outline-success" href="{% url "org_petition_wizard" org.slugname %}"><span class="oi oi-clipboard"></span> {% trans "New petition" %}</a>
            <hr>
            {% include "petition/org_member_list.html" with org=org user_permissions=user_permissions %}
            <hr>
            {% include "petition/org_invite_user.html" with org=org %}
            {% include "petition/user_invitations.html" with user=user %}
            <hr>
            <div class="d-flex align-items-baseline justify-content-between">
                <h4>{% trans "Petition templates" %}</h4>
                <a href="{% url "org_new_template" org.slugname %}" class="btn btn-outline-success"  data-toggle="tooltip" title="{% trans "Create a new petition using default template" %}"><span class="oi oi-plus"></span> {% trans "New template" %}</a>
            </div>
            <br />
            {% if org.petition_templates.all %}
                {% include "petition/template_list.html" with templates=org.petition_templates.all owner=org %}
            {% endif %}
            <hr>
        </div>
        <div class="col-xl-9 col-lg-7 col-md-7 col-sm-6 col-12">
            <div class="row">
                    {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-danger alert-dismissible show fade">
                        {% else %}
                            <div class="alert alert-success alert-dismissible show fade">
                        {% endif %}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <div class="row">
                                    <div class="col-1 alert-icon-col">
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                        <span class="oi oi-warning"></span>
                                        {% else %}
                                        <span class="oi oi-thumb-up"></span>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        {{ message }}
                                    </div>
                                </div>
                            </div>
                    {% endfor%}
                    {% endif %}
            </div>
            {% block content %}
            {% endblock content %}
        </div>
        {% endblock main_grid %}
    </div>

    {% block extrajs %}
    {{ block.super }}
    <script>
       {% include "petition/orga.js" %}
    </script>
    {% endblock extrajs %}