{% load i18n %}
<h4>{% trans "Members" %}</h4>
<div class="list-group">
{% for member in org.members.all %}
    <div class="d-flex align-items-baseline justify-content-between list-group-item list-group-item-action list-group-item-primary">
        <div>
        <a href="{% url "user_profile" member.username %}">
            <span class="oi oi-person"></span> {{ member.get_full_name }}
        </a>
        </div>
        <div>
            <button class="btn btn-outline-danger"><span class="oi oi-delete"></span></button>
            <button class="btn btn-outline-secondary"><span class="oi oi-wrench"></span></button>
        </div>
    </div>
{% endfor %}
</div>