{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ title }}</title>
    <!-- Bootstrap -->
    <link href="{% static "bootstrap-4.1.3/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-4.1.3/css/open-iconic-bootstrap.min.css" %}" rel="stylesheet">
    <style>
  .card-img-top{
   width: 100%!important;
   height: 200px!important;
   object-fit: cover;
    }

    .alert .alert-icon-col {
        min-width: 35px;
        max-width: 35px;
    }
    </style>
    {{ form.media }}
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{ org.name }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{% url "admin:logout" %}?next=/" class="nav-link">{% trans "Logout" %}</a>
        </li>
    </ul>
    </div>
        <form class="form-inline my-2 my-lg-0" action="{% url "org_dashboard" org.name %}" method="GET">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">?</span>
          </div>
          <input type="text" class="form-control mr-sm-2" placeholder="..." name="q" value="{{ q }}">
            <input type="submit" class="btn my-2 my-sm-0" value="{% trans "Search" %}">
        </div>
      </form>
    </nav>
    <p></p>

    <div class="row">
        <div class="col-md-2 col-xs-12">
            {% include "petition/identity_selector.html" with orgs=other_orgs owner=org user=user %}
            <hr>
            <a class="btn btn-outline-success" href="{% url "org_new_petition" org.name %}"><span class="oi oi-clipboard"></span> {% trans "New petition" %}</a>
            <hr>
            <h4>{% trans "Members" %}</h4>
            <div class="list-group">
            {% for member in org.members.all %}
                <div class="d-flex justify-content-between align-items-stretch">
                    <a href="{% url "user_profile" member.username %}" class="list-group-item list-group-item-action list-group-item-primary">
                        <span class="oi oi-person"></span> {{ member.get_full_name }}
                    </a>
                    <button class="btn btn-outline-danger"><span class="oi oi-delete"></span></button>
                    <button class="btn btn-outline-secondary"><span class="oi oi-wrench"></span></button>
                </div>
            {% endfor %}
            </div>
            <br>
            <h4>{% trans "Invite user" %}</h4>
            <form>
                <div class="form-group">
                    <label for="invite_user" class="invisible">{% trans "User" %} : </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="oi oi-person"></span></span>
                        </div>
                        <input class="form-control" type="text" id="invite_user" placeholder="{% trans "Username" %}">
                    </div>
                </div>
                <div id="user_search_result" class="list-group">
                </div>
            </form>
            {% if user.invitations.all %}
            <hr>
            <h4>{% trans "Invitations" %}</h4>
            <div id="invitations">
                {% for org in user.invitations.all %}
                <div class="alert alert-info alert-dismissible show fade" id="invite-alert-{{ org.name }}">
                    <div class="row">
                        <div class="col-1 alert-icon-col">
                            <span class="oi oi-question-mark"></span>
                        </div>
                        <div class="col">
                            <div class="row">
                            {% blocktrans with orgname=org %}
                                You are invited to <strong>&nbsp;{{ orgname }}</strong>
                            {% endblocktrans %}
                            </div>
                            <div class="row d-flex justify-content-around">
                                <button class="btn btn-success btn-invitation-join" data-org="{{ org.name }}">{% trans "Join" %}</button>
                                <button class="btn btn-danger btn-invitation-dismiss" data-org="{{ org.name }}">{% trans "Dismiss" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <hr>
            <div class="d-flex align-items-start">
                <h4>{% trans "Petition templates" %}</h4>
                <a href="{% url "org_new_template" org.name %}" class="btn btn-outline-success"  data-toggle="tooltip" title="{% trans "Create a new petition using default template" %}"><span class="oi oi-plus"></span> {% trans "New template" %}</a>
            </div>
            {% if org.petition_templates.all %}
                {% include "petition/template_list.html" with templates=org.petition_templates.all owner=org %}
            {% endif %}
        </div>
        <div class="col-md-10 col-xs-12">
            <form action="{% url "org_create_petition" org.name %}" class="form-group" method="POST">
                {% csrf_token %}

                {% include 'petition/bs4_form.html' with form=form %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "bootstrap-4.1.3/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "bootstrap-4.1.3/js/popper.min.js" %}"></script>
    <script src="{% static "bootstrap-4.1.3/js/bootstrap.min.js" %}"></script>

    <script>
       {% include "petition/orga.js" %}
    </script>

    <script src="{% static "tinymce/js/tinymce/tinymce.min.js" %}"></script>
    <script src="{% static "django_tinymce/init_tinymce.js" %}"></script>
</body>
</html>
