{% load static %}
{% load i18n %}

{% if search %}
<h3>{{ title }}</h3>
{% else %}
<h2>{{ title }}</h2>
{% endif %}

{% if not petitions %}
    {% if no_petition_msg %}
        {{ no_petition_msg }}
    {% else %}
  <p>{% trans "You don't have any petitions yet"%}</p>
{%  if can_create_petition %}
  <a class="btn btn-primary" href="{% if org %}{% url "org_petition_wizard" org.slugname %}{% else %}{% url "user_petition_wizard" %}{% endif %}">{% trans "Create a new petition" %}</a>
{%  endif %}
    {% endif %}
{% else %}
<div class="row petition-list">
  {% for petition in petitions %}
    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center sb-preview" data-petition-unpublish="{% url 'petition_unpublish' petition.id %}" data-petition-publish="{% url 'petition_publish' petition.id %}">
      <div class="card h-100">
        <a href="{{ petition.url }}" class="sb-preview-img">
            {% if not petition.twitter_image%}
            <img class="card-img-top img-fluid img-thumbnail" alt="thumbnail"
                 src="{% static settings.DEFAULT_INDEX_THUMBNAIL %}">
            {% else %}
            <img class="card-img-top img-fluid img-thumbnail" alt="thumbnail"
                 src="{{ petition.twitter_image }}">
            {% endif %}
        </a>
        <div class="card-body d-flex flex-column">
          <h4 class="card-title">{{ petition.title|striptags }}</h4>
          {% if petition.twitter_description %}
            <p class="card-text">{{ petition.twitter_description|safe }}</p>
          {% endif %}
          <p class="text-muted">{{ petition.signature_number }} signatures</p>
          <div class="custom-control custom-switch
                      {% if not petition.published %}
                          text-muted
                      {% else %}
                          text-success
                      {% endif %}" data-action="publish">
            <input type="checkbox" class="custom-control-input"
                   name="petition_published_{{ petition.id }}"
                   id="petition_published_{{ petition.id }}"
                   {% if petition.published %} checked {% endif %}>
            <label class="custom-control-label" for="petition_published_{{ petition.id }}">
            {% if not petition.published %}
              {% trans "Not published" %}
            {% else %}
              {% trans "Published" %}
            {% endif %}
            </label>
          </div>
        </div>
        <div class="card-footer mt-auto">
          <div class="d-flex justify-content-around">
            <a href="{{  petition.url }}" class="btn btn-outline-success btn-sm"
               title="{% trans "View petition" %}" aria-disabled="true" data-toggle="tooltip">
              <span class="oi oi-eye"></span>
            </a>
            <a href="{% url "new_edit" petition.id %}" class="btn btn-outline-warning btn-sm"
                    title="{% trans "Edit petition" %}" data-toggle="tooltip"><span class="oi oi-pencil"></span></a>
            <a href="{% url "show_signatures" petition.id %}" class="btn btn-outline-info btn-sm" data-toggle="tooltip"
             title="{% trans "View signatures" %}" aria-disabled="true">
              <span class="oi oi-spreadsheet"></span>
            </a>
            <a href="{% url "transfer_petition" petition.id %}" class="btn btn-outline-primary btn-sm" data-toggle="tooltip"
             title="{% trans "Transfer this petition" %}" aria-disabled="true">
              <span class="oi oi-share-boxed"></span>
            </a>
            <span data-toggle="tooltip" title="{% trans "Delete the petition" %}">
              <button class="btn btn-outline-danger btn-sm"
                    id="btn_petition_delete"
                    data-toggle="modal" data-target="#petition{{ petition.id }}_delete_modal"
                    aria-disabled="true"><span class="oi oi-circle-x"></span></button>
            </span>
          </div>
        </div>
      </div>
    </div>

  <div class="modal fade" id="petition{{ petition.id }}_delete_modal" data-petition="{{ petition.id }}" data-petition-delete="{% url 'petition_delete' petition.id %}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{% trans "Delete petition?" %}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          {% blocktrans with title=petition.title|striptags %}
            Do you really want to delete petition '{{ title }}'
          {% endblocktrans %}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-action="petition-delete" data-dismiss="modal">{% trans "Delete" %}</button>
          <button type="button" class="btn btn-info" data-dismiss="modal">{% trans "Cancel" %}</button>
        </div>

      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
