{% load static %}
{% load i18n %}

<div class="row">
    <div class="col text-center">
        <h2>{% trans "Petitions" %}</h2>
    </div>
</div>

<div class="row">
    {% for petition in petitions %}
        <div class="col-xl-4 col-lg-6 col-sm-12 col-12 text-center sb-preview" data-petition="{{ petition.id }}">
            <div class="card h-100">
                <a href="#" class="sb-preview-img">
                    {% if not petition.twitter_image%}
                    <img class="card-img-top img-fluid img-thumbnail" src="{% static settings.DEFAULT_INDEX_THUMBNAIL %}">
                    {% else %}
                    <img class="card-img-top img-fluid img-thumbnail" src="{{ petition.twitter_image }}">
                    {% endif %}
                </a>
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">{{ petition.title|striptags }}</h4>
                    <p class="card-text">{{ petition.twitter_description|safe }}</p>
                    <div class="card-footer mt-auto">
                        <a href="{% url "org_edit_petition" org petition.id %}" class="btn btn-outline-warning"
                                title="{% trans "Edit petition" %}"><span class="oi oi-pencil"></span></a>
                        <button class="btn btn-outline-danger"
                                title="{% trans "Delete the petition" %}"
                                data-toggle="modal" data-target="#petition{{ petition.id }}_delete_modal"
                                aria-disabled="true"><span class="oi oi-delete"></span></button>
                        <a href="{% url "detail" petition.id %}" class="btn btn-outline-success"
                           title="{% trans "Sign the petition" %}" aria-disabled="true">
                        {% trans "Sign!" %} <span class="badge badge-info">{{ petition.signature_number }}</span>
                        </a>
                        <p>
                        <div class="custom-control custom-switch
                                    {% if not petition.published %}
                                        text-danger
                                    {% else %}
                                        text-success
                                    {% endif %}" data-action="publish">
                            <input type="checkbox" class="custom-control-input"
                                   name="petition_published_{{ petition.id }}"
                                   id="petition_published_{{ petition.id }}" autocomplete="off"
                                    {% if petition.published %} checked {% endif %}>
                            <label class="custom-control-label" for="petition_published_{{ petition.id }}">
                            {% if not petition.published %}
                                {% trans "Not published" %}
                            {% else %}
                                {% trans "Published" %}
                            {% endif %}
                            </label>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    <div class="modal fade" id="petition{{ petition.id }}_delete_modal" data-petition="{{ petition.id }}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{% trans "Delete petition?" %}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body">
            {% blocktrans with title=petition.title|striptags %}
              Do you really want to delete petition '{{ title }}'
            {% endblocktrans %}
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-action="petition-delete" data-dismiss="modal">{% trans "Delete" %}</button>
            <button type="button" class="btn btn-info" data-dismiss="modal">{% trans "Cancel" %}</button>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}
</div>