{% extends 'layouts/layout.html' %}
{% load static %}
{% load i18n %}

{% block login_next %}{% url "user_dashboard" %}{% endblock login_next %}

{% block main_content %}
<div class="container" id="page_container">
    <div class="row">
        <h2>Search results for {{ q }}</h2>
    </div>
    {% if orgs|length > 0 %}
    <div class="row mt-4">
        <div class="col-md-12 col-xs-12">
            <h3>Organizations</h3>
        </div>
        {% for org in orgs %}
            <div class="col-md-4 col-xs-6 text-center sb-preview">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <a href="{% url "org_profile" org.slugname %}"><h4 class="card-title">{{ org.name }}</h4></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <div>
        {% include 'petition/generic_petition_list.html' with petitions=petitions %}
    </div>
</div>
{% endblock main_content %}

{% block extracss %}
<style>
#page_container {
    min-height: 85vh;
}
</style>
{% endblock %}

