{% load i18n %}
{% load static %}
<div class="list-group">
{% for template in templates %}
<div class="d-flex align-items-baseline justify-content-between list-group-item list-group-item-action list-group-item-primary" data-template-delete="{% url 'template_delete'  template.id %}" data-template-fav="{% url 'template_fav_toggle' template.id %}">
            <div style="white-space: nowrap">
                <span class="oi oi-bookmark"></span> {{ template.name }}
            </div>
            <div class="flex-wrap">
                {% if owner.default_template == template %}
                <button class="btn btn-outline-danger" data-fav-toggle="true" data-toggle="tooltip" title="{% trans "This is the default template. Click here to unmark it as default" %}"><span class="oi oi-heart"></span></button>
                {% else %}
                <button class="btn btn-outline-info" data-fav-toggle="true" data-toggle="tooltip" title="{% trans "Mark this template as default" %}"><span class="oi oi-heart"></span></button>
                {% endif %}
                <button class="btn btn-outline-danger" data-action="template-delete" data-toggle="tooltip" title="{% trans "Delete template" %}"><span class="oi oi-delete"></span></button>
                <a class="btn btn-outline-warning" data-action="template-edit" data-toggle="tooltip" title="{% trans "Edit template" %}"
                 href="{% url "edit_template" template.id %}"><span class="oi oi-pencil"></span></a>
                <a
                        {% if owner.kind == "org" %}
                        href="{% url "org_petition_wizard_from_template" org.slugname template.id %}"
                        {% else %}
                        href="{% url "user_petition_wizard_from_template" template.id %}"
                        {% endif %}
                        class="btn btn-outline-success" data-action="template-instanciate" data-toggle="tooltip" title="{% trans "Create a new petition using this template" %}"><span class="oi oi-plus"></span> <span class="oi oi-clipboard"></span></a>
            </div>

        </div>
{% endfor %}
</div>
