{% extends 'layouts/layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% blocktrans with name=user.get_full_name %}
    {{ name }}'s profile
{% endblocktrans %}
{% endblock title %}

{% block container_type %}
    container
{% endblock container_type %}

{% block login_next %}{% url "user_dashboard" %}{% endblock login_next %}

{% block main_content %}
<div class="container">
    <div class="row">
        <h2>{{user.name }} </h2>
    </div>
    {% blocktrans asvar no_petitions_text %}
        This user has not created any petition yet
    {% endblocktrans %}
    {% include 'petition/generic_petition_list.html' with petitions=petitions no_petitions_text=no_petitions_text %}
</div>
{% endblock main_content %}
