{% load i18n %}
<h4>{% trans "Organizations" %}</h4>
<div class="list-group">
{% for org in user.organizations.all %}
    <div class="d-flex justify-content-between align-items-stretch" data-org="{{ org.name }}">
        <a href="{% url "org_profile" org.name %}" class="list-group-item list-group-item-action list-group-item-primary">
            <span class="oi oi-people"></span> {{ org.name }}
        </a>
        <button class="btn btn-outline-danger" data-action="leave_org"><span class="oi oi-delete"></span></button>
        <button class="btn btn-outline-secondary" data-action="leave_org"><span class="oi oi-wrench"></span></button>
    </div>
{% endfor %}
</div>