{% load i18n %}
<div class="dashboard-nav-item py-3">
  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <h4><span class="oi oi-people"></span>&nbsp;{% trans "Organizations" %}&nbsp;({{ user.organization_set.all.count }})</h4>
    <a href="{% url "org_create" %}" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" title="{% trans "Create a new organization" %}">{% trans "New organization" %}</a>
  </div>
  <ul class="dashboard-org-list">
  {% for org in user.organization_set.all %}
    <li data-orgname="{{ org.name }}" data-orgslugname="{{ org.slugname }}" data-leaveorg-url="{% url 'leave_org' org.slugname %}">
      <a href="{% url "org_dashboard" org.slugname %}" class="text-dark">{{ org.name }}</a>
    </li>
  {% endfor %}
  </ul>
</div>
