{% extends 'petition/user_base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
            <form action="{% url "user_create_petition" user.name %}" class="form-group" method="POST">
                {% csrf_token %}

                {% include 'petition/bs4_form.html' with form=form %}
                <input type="hidden" name="edit" value="{{ form.instance.pk|yesno:'1,0' }}">
                <input type="hidden" name="pk" value="{{ form.instance.pk }}">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
{% endblock %}

{% block extrajs %}
    <script src="{% static "tinymce/js/tinymce/tinymce.min.js" %}"></script>
    <script src="{% static "django_tinymce/init_tinymce.js" %}"></script>
{% endblock %}
