
nav.navbar {
  margin-bottom: 2rem;
}

.app {
  min-height: 100vh;
}

.card-img-top {
  border-width: 0 0 1px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0;
}

.alert .alert-icon-col {
    min-width: 35px;
    max-width: 35px;
}

.card-title a {
  color: inherit;
}

.footer-wrapper {
  padding: 2em 0;
}

.petition-list-row {
  margin-top: 2em;
}

.petition-publish-switch input ~ label {
    color: var(--red);
}

.petition-publish-switch input:checked ~ label {
    color: var(--green);
}
