nav.navbar {
  margin: 0;
}

.dashboard-hero {
  padding: 1em;
}

.dashboard-hero h2 {
  font-size: 1.25em;
  margin: 0;
}

.dashboard-nav {
  padding: 0 0 2em ;
}

.dashboard-nav-item {
  padding: 0 1em;
}

.dashboard-nav h4 {
  font-size: 1em;
  margin-bottom: 0;
}

.dashboard-nav h4 a {
  color: #212529;
}

.dashboard-nav .btn {
  font-size: 0.75em;
}

.dashboard-content {
  padding: 1em 2em;
  min-height: calc(100vh - 58.5px);
}

.dashboard-content h2 {
  margin-bottom: 0.5em;
}

.dashboard-org-list {
  margin-bottom: 0;
  margin-top: 0.5em;
  padding: 0;
  list-style-type: none;
}

.dashboard-org-list .btn {
  padding: 0.5em;
}

.dashboard-content .card-title {
  font-size: 1.2em;
}

.dashboard-content .card-body {
  padding: 1em;
}

.colorfield_field {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
}

.custom-switch ~ .invalid-feedback {
    display: block;
}
