{% load i18n %}
{% block navbar %}
<nav class="navbar navbar-light navbar-expand-sm flex-sm-row">
  <div class="container">
    {% block brand %}
    <a class="navbar-brand" href="{% url 'index' %}" aria-label="{{ settings.SITE_NAME }}">{{ settings.SITE_NAME }}</a>
    {% endblock brand %}
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <form class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select class="custom-select custom-select-sm" name="language" onchange='if(this.value !=  "{{ LANGUAGE_CODE }}") { this.form.submit(); }'>
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
              {{ language.code }}
            </option>
          {% endfor %}
        </select>
      </form>
      <form class="form-inline my-2 my-lg-0 ml-0 ml-sm-3" action="{% url 'search' %}" method="GET">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="{% trans "Search for petition" %}" name="q" value="{{ q }}">
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary">{% trans "Search" %}</button>
          </div>
        </div>
      </form>
      {% include 'layouts/nav-useractions.html' %}
    </div>
  </div>
</nav>
{% endblock %}
