{% extends "layouts/email.base.html" %}
{% load i18n %}
{% block content %}
<p>{% trans "Hello" %}</p>

{% if owner_type == "user" %}
    {% trans "This user has been monitored with a strong priority: " %} {{ element }}.
{% elif owner_type == "organization" %}
    {% trans "This organization has been monitored with a strong priority: " %} {{ element }}.
{% elif owner_type == "petition" %}
<p>{% blocktranslate with petition_title=element.title petition_url=site_url|add:element.get_absolute_url %}The petition <a href="{{ petition_url }}"><b>{{ petition_title }}</b></a> has been automatically detected as suspicious and is now monitored. The reason is: <b>{{ reason }}</b>.{% endblocktranslate %}</p>

<p>{% blocktranslate %}<a href="{{ admin_moderation_url }}">Access the admin moderation panel</a>.{% endblocktranslate %}</p>
{% endif %}

<p>{% blocktranslate %}Have a nice day,{% endblocktranslate %}</p>
{% endblock %}

