{% extends "layouts/layout.html" %}
{% load i18n %}

{% block title %}{% trans "Forgot Your Password?" %}{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="offset-3 col-6 text-center">
            <h1 class="h3 mb-5 font-weight-normal">{% trans 'Forgot your password?' %}</h1>
            <p>{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>
            <form method="POST" class="form-inline justify-content-center">
                {% csrf_token %}
                <div class="form-group mb-2">
                    <label for="staticEmail" class="col-sm-2 col-form-label">{% trans "Email" %}</label>
                    <div class="col-sm-10">
                        <input type="text" name="email" class="form-control" id="{{form.email.auto_id}}" placeholder="{% trans "email@example.com" %}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-2">{% trans "Send me instructions!" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
