{% extends "layouts/layout.html" %}
{% load i18n %}

{% block extracss %}
    <style>
        .invalid-feedback {
            display: block;
        }
    </style>
{% endblock extracss %}

{% block main_content %}
<div class="container">
    <form action="" method="POST" novalidate="novalidate">{% csrf_token %}
        {% include "petition/bs4_form.html" with form=form %}
        <button class="btn btn-primary" type="submit">{% trans "Register" %}</button>
    </form>
</div>
{% endblock main_content %}
